/*Write some CSS below*/
h1{
color: whitesmoke;
}
body {
	color: white;
	background-color: rgb(220, 220, 220);
}
a{
	background-color: white;
text-decoration: white 
}
.banner {
text-align: center;
background-image: url(images/background.jpg);
background-size: cover;
padding: 100px 0;
}
.white{
	color:grey;
}
.button {
	padding: 10px 15px;
}
.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}